@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <center><h1>Motorsports Encyclopedia</h1></center>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Welcome to Motorsports Encyclopedia</h2>
        <p>
            Motorsports Encyclopedia is a website that keeps track of all things motorsports!
        </p>
    </div>
    <div class="col-md-12">
        <h2>Learn</h2>
        <p>Learn the cars used in motorsports, the owner's company, and the tracks they compete on!</p>
    </div>
    <div class="col-md-12">
        <h2>Sign up</h2>
        <p>Sign up to Motorsports Encyclopedia to add your own cars, companies, and tracks!</p>
    </div>
</div>